.carousel-item.active{
    position: relative;
    display: inline-block;
    text-align: left;
}

.image_on{
    position: absolute;
    top: 75%;
    left: 0px;
}

.carousel.slide.carousel-fade{
    margin-top: 60px;
}

.d-block.w-100{
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    max-width: 50%;
    height: auto; 
}

.carousel-inner{
    background-color: black;
}

div.row{
    width: 100%;
}
.column-left{
    display: table-cell;
    margin-left: 20%;
}
.column-center{
    display: table-cell;
    margin-left:22%;
}
.column-right{
    display: table-cell;
    margin-left: 20%;
}

div.banquete-text{
    text-align: center;
    margin-top: 6px;
    font-family: 'Lucida Sans';
    font-weight: bolder;
}

.dot{
    color: goldenrod;
}