.footer-div{
    position: relative;
    top: 100px;
}

.nav-link{
    color: black;
    font-family: 'Arial Narrow';
    font-size: larger;
}
.nav-link:hover{
    color: darkkhaki;
}

.header-bar{
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}