{% extends 'layout.html'%}


{% block title%}
Contacto
{% endblock %}

{% block content%}

<div class="jumbotron">
    <h1 class="display-4">Contacto</h1>
    <p class="lead">
        Acercate a nosotros... Te esperamos con la mejor atención y un selecto catalogo de productos
    </p>
    <hr class="my-4">
    <p>Envianos un email con tus dudas</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Enviar</a>
</div>

{% endblock%}