{% extends 'layout.html'%}

{% block title%} 
Home
{% endblock %} 

{% block scripts %}
<link rel="stylesheet" type="text/css" href="../static/css/home_styles.css">
{% endblock %} 
    
{% block content %} 
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="../static/imagenes/Banquetes/img_src_03_salchicha.jpg" class="d-block w-100" alt="Primer Platillo">
            <div class="image_on">
                <img src="../static/imagenes/assets/simply_banner_asados.png" alt="banner_asados" height="40%" width="40%">
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/imagenes/Banquetes/img_src_04_costillar_lateral.jpg" class="d-block w-100"
                alt="Segundo PLatillo" height="600" width="350">
            <div class="image_on">
                <img src="../static/imagenes/assets/simple_banner_sabor.png" alt="banner_asados" height="40%" width="40%">
            </div>    
        </div>
        <div class="carousel-item">
            <img src="../static/imagenes/Banquetes/img_src_02_costillar_frontal.jpg" class="d-block w-100"
                alt="Tercer Platillo" height="600" width="350">
            <div class="image_on">
                <img src="../static/imagenes/assets/simply_banner_presentación.png" alt="banner_asados" height="40%" width="40%">
            </div>    
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>

<div class="banquete-text">
   <h1><span class="dot">*</span> BANQUETES & ASADOS <span class="dot">*</span></h1> 
</div>

<div  align="center" class="row">
    <div class="column-left">
        <img src="">
        <span>Texto Izquierda</span>
    </div>

    <div class="column-center">
        <img src="">
        <span>Texto central</span>
    </div>

    <div class="column-right">
        <img src="">
        <span>Texto Derecha</span>
    </div>
</div>

{% endblock %}