{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/initial_styles.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>
        {% block title%}

        {% endblock %}
        | elProgramadorSul
    </title>

    {% block scripts%}

    {% endblock%}

</head>

<body>

    <header class="header-bar">
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">BanqueTastyc</span>
            <a href="/home" class="nav-link"><strong>Home</strong></a>
            <a href="/galeria" class="nav-link"><strong>Galeria</strong></a>
            <a href="/nosotros" class="nav-link"><strong>Nosotros</strong></a>
            <a href="/contacto" class="nav-link"><strong>Contacto</strong></a>
        </nav>
    </header>

    {% block content%}

    {% endblock %}


    <footer>
        <div class= "footer-div">
            <hr>
            <div align="center">
                BanqueTastyc &copy; ElProgramadorSul
            </div>
        </div>
    </footer>

</body>

</html>